<h2>Edit a character</h2>
<form method="POST" action="/characters/<%= character.id %>/update">
    <label>name:<input type="text" name="name" value="<%= character.name  %>" /></label>
    <label>occupation:<input type="text" name="occupation" value="<%= character.occupation  %>" /></label>
    <label>weapon:<input type="text" name="weapon" value="<%= character.weapon  %>"/></label>
    <button type="submit">Create</button>
</form>